/db
/incremental_db
/output_files
c5_pin_model_dump.txt
/simulation
Trabalho\ Final_0/db
Trabalho\ Final_0/simulation
Trabalho\ Final_0/greybox_tmp
Trabalho\ Final_0/output_files
Trabalho\ Final_0/incremental_db